 # Rust build artifacts
/target/                                                                                                                                                      
*.d                                                     
                                                                                                                                                            
# IDE                                                                                                                                                       
.idea/                                                                                                                                                        
.vscode/                                                                                                                                                    
*.swp

# OS
.DS_Store